Source: fractalnow
Section: contrib/science
Priority: extra
Maintainer: Marc Pegon <pe.marc@free.fr>
Build-Depends: debhelper (>= 7.0.0), autotools-dev, libqt4-dev (>= 4:4.6.0)
Standards-Version: 3.9.3

Package: fractalnow
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast, advanced fractal generator
 FractalNow provides users with tools to generate pictures of various types of fractals quickly and easily.
 .
 It is made of both a command line (FractalNow) and a graphical tool (QFractalNow).
 .
 The graphical tool, based on Qt library, allows users to explore fractals intuitively and generate pictures.
 .
 Both tools are entirely multi-threaded and implement advanced algorithms and heuristics that make computation very fast compared to most existing free fractal generators.
 .
 Homepage: http://sourceforge.net/projects/fractalnow/
